

.main {
  padding: 0 0 20px 0;
  min-height: 100vh;
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background: rgba(99, 102, 106, 1);
  position: relative;
  overflow: hidden;
}

